* {
.gallery img {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

form input,
form textarea {
  padding: 15px;
  border: none;
  border-radius: 10px;
}

form button {
  padding: 15px;
  border: none;
  background: #a8e063;
  color: #1f4d2e;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 25px;
  background: #163522;
  color: white;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2f6b3d;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

@media(max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content {
    margin-left: 0;
    width: 100%;
  }

  body {
    flex-direction: column;
  }
}
